<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <% rows.forEach(function(row) { %>
      <div>
        <a href="/<%= row.id %>">View</a>
        <span>Name: <%= row.name %></span>
        <span>Color: <%= row.color %></span>
        <span>Width: <%= row.width %></span>
        <span>Height: <%= row.height %></span>
      </div>
    <% }); %>
  </main>
</body>
</html>
